/* Reset */

/* General */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
a {
  color: #FF5C26;
}
:hover, :link, :visited {
  color: #FF5C26;
}

body {
}

#header {
  background-color: #FF5C26;
  padding: 15px 30px;
}
  .logo {
    width: 150px;
  }

#nav {
  background-color: #FFA485;
  overflow: hidden;
  padding: 5px 30px;
}
  .menu, .menu li {
    color: #FFF;
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu a {
    display: block;
    float: left;
    padding: 5px 10px;
  }
  .menu :hover,
  .menu :link,
  .menu :visited  {
    color: #FFF;
    text-decoration: none;
  }
  .menu :hover {
    background-color: #FF5C26;
  }
  
#content {
  min-height: 300px;
  padding: 15px 30px;
}
  .banner {
    background-position: top center;
    background-repeat: no-repeat;
    height: 350px;
    margin: -15px -30px;
    text-align: center;
  }

#footer {
  background-color: #FFCCBC;
  min-height: 100px;
  padding: 15px 30px;
}

@media (max-width: 768px) {
  #header {
    text-align: center;
  }
  #content {
    min-height: 200px;
  }
    .banner {
      background-size: auto 200px;
      height: 200px;
    }
}